<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{{ super() }}
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img src="/static/img/stocks.jpg" alt="Stocks" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>About</b></span> <span class="w3-hide-small w3-text-light-grey">Stocks</span></h1>
    </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">What are Stocks?</h3>
        <p>A stock, also known as equity is a security that represents the ownership of a certain fraction of the company. Units of stock are called "shares." This entitles the owner of the stock to a proportion of the corporation's assets and profits equal to how much stock they own. Down below is a example stocks graph where you can see how well the companies stocks are doing. You can also use the search bar where the AAPL is to search for different companies by using their stock symbol. Some of the biggest companies on the market are Amazon(AMZ), Apple(AAPL), and Tesla (TSLA).
        </p>
    </div>

    <div class="w3-row-padding w3-grayscale">
        <div class="tradingview-widget-container">
            <div id="tradingview_8f856"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
      new TradingView.widget(
      {
      "width": 980,
      "height": 610,
      "symbol": "NASDAQ:AAPL",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "light",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "allow_symbol_change": true,
      "container_id": "tradingview_8f856"
    }
      );
      </script>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <iframe src="https://www.youtube.com/embed/p7HKvqRI_Bo"
                    style="width:100%" frameborder="0" allowfullscreen></iframe>
            <p class="w3-opacity">Stocks Run Down</p>
            <p>This is a TED-Ed video about how stocks work</p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="/static/img/image.jpg" alt="stock1" style="width:100%">
            <p class="w3-opacity">Here are some links to some stock guides</p>
            <p><a href=https://www.nerdwallet.com/article/investing/how-to-invest-in-stocks>How to invest in stocks</a></p>
            <p><a href=https://www.investopedia.com/articles/basics/06/invest1000.asp>Beginners Guide</a></p>
        </div>
    </div>

    <!-- End page content -->
</div>


</body>
</html>
{% endblock %}
