<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<p>We are apart of Mr. Mortensons period 4 AP CS P class. This is our website for the final project.</p>
<ul>

    <li>Brayden Basinger</li>
    <li>Carter Quartararo</li>
    <li>Ryan Moghaddas</li>
    <li>Noah Ahooja</li>
    <li>Max Wang</li>
    <li><a href="https://docs.google.com/spreadsheets/d/1gniMw6JEzcoD-AOraMhiplvfpqTh279tup_4V-yCPOQ/edit?usp=sharing">Journals</a></li>
    <li><a href="https://padlet.com/jmortensen7/csp2021tri3">Comp Sci Timeline</a></li>
    <li><a href="https://github.com/noahahooja/p4schlimes">Github Repository</a></li>
    <li><a href="https://github.com/noahahooja/p4schlimes/projects/1">Scrum Board</a></li>

</ul>
</body>
</html>