<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{{ super() }}
<form action="/login" method="POST">
    <div class="imgcontainer">
        <img src="https://png.pngtree.com/png-vector/20191003/ourmid/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_1786166.jpg" alt="Avatar" class="avatar" width="360" height="360">
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input id="username" name="username" required type="text" placeholder="Enter username" value="">
        <label for="password"><b>Password</b></label>
        <input id="password" name="password" required type="password" placeholder="Enter password" value="">

        <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <p>Dont have an account?<a href="/signup"> Create one!</a></p>
    </div>
</form>
{% endblock %}