<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<style>
    body {
        background-image: url('https://media.discordapp.net/attachments/750759468542853222/821591493050761236/unknown.png');
    }
</style>
<body>
<h1 style="text-align:center">Welcome to p4schlimes Website</h1>
<h3 style="text-align:center">Tri 3 AP CS P Project</h3>
<h2>Navigation Bar</h2>

<ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/reactiontest">Reaction Test</a></li>
    <li><a href="/bio">About Us</a></li>
</ul>
</body>
</html>